<mat-card class="notifications-card">
  <mat-card-header>
    <mat-card-title>Notifications</mat-card-title>
  </mat-card-header>

  <mat-card-content class="notification-content">
    <span *ngIf="notifications.length === 0; then showEmpty; else showNotifications"></span>
    <ng-template #showNotifications>
      <mat-list>
        <mat-list-item *ngFor="let notification of notifications">{{notification.message}}</mat-list-item>
      </mat-list>
    </ng-template>
    <ng-template #showEmpty>
      <p>You're all caught up!</p>
    </ng-template>
  </mat-card-content>

  <mat-card-actions>
    <button (click)="clearAllNotifications()" mat-button>Clear Notifications</button>
  </mat-card-actions>
</mat-card>
