<div class="user-list">
  <ul>
    <li *ngFor="let user of chatUsers">{{user.userName}} <span [hidden]="!user.typing">(typing)</span></li>
  </ul>
</div>
<div>
  <ul>
    <li *ngFor="let message of messages"><span class="sender">{{message.sender}}</span> - {{message.text}}</li>
  </ul>
</div>
<div>
  <label for="message">Message</label>
  <input type="text" id="message" [(ngModel)]="message" name="message" (keypress)="keyPressed($event.keyCode)" />
  <button (click)="sendMessage()">Send</button>
</div>
