<mat-card class="chat-card">
  <mat-card-header>
    <mat-card-title>Chat</mat-card-title>
    <mat-card-subtitle>
      <p *ngFor="let user of chatUsers">{{user.userName}} <span [hidden]="!user.typing">(typing)</span></p>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="chat-content">
    <div *ngFor="let message of messages">
      <span *ngIf="message.myMessage; then displayMine; else displayTheirs"></span>
      <ng-template #displayMine>
        <div class="align-right">
          {{message.text}} - <span class="current-user">{{message.sender}}</span>
        </div>
      </ng-template>
      <ng-template #displayTheirs>
        <div>
          <span class="other-user">{{message.sender}}</span> - {{message.text}}
        </div>
      </ng-template>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <mat-input-container>
      <input mdInput type="text" [(ngModel)]="message" placeholder="message" (keypress)="keyPressed($event.keyCode)" class="chat-box"
      />
    </mat-input-container>
    <button (click)="sendMessage()" [disabled]="!message" mat-icon-button><mat-icon>send</mat-icon></button>
  </mat-card-actions>
</mat-card>
