<nav>
  <a routerLink="/" routerLinkActive="active">Home</a>
  <a routerLink="/chat" routerLinkActive="active">Chat</a>
  <a routerLink="/support" routerLinkActive="active">Support Requests</a>
  <span *ngIf="!loggedIn" class="link" (click)="login()">login</span>
  <span *ngIf="loggedIn" class="link" (click)="logout()">logout</span>
</nav>

<h1>
  {{title}}
</h1>
<h2><a routerLink="/notifications">Messages: ({{pendingNotifications}})</a></h2>
<div>{{userMessage}}</div>

<router-outlet></router-outlet>
