<div *ngIf="supportRequest">
  <h3>"{{ supportRequest.title.value }}"</h3>
  <div *ngIf="supportRequest.viewers.size > 0; else noViewers">
    <label>Viewers:</label>
    <ul>
      <li *ngFor="let viewer of supportRequest.viewers">{{ viewer }}</li>
    </ul>
  </div>
  <div *ngIf="supportRequest.locked">
    <span *ngIf="myLock; then showYourLock; else showLockUser"></span>
    <ng-template #showLockUser><b>locked</b> by {{ supportRequest.lockedBy }}</ng-template>
    <ng-template #showYourLock><b>You have this locked</b></ng-template>
  </div>
  <div>
    <button [disabled]="!canLockCurrent" (click)="lock()">Lock Record</button>
    <button *ngIf="myLock" (click)="unlock()">Unlock Record</button>
  </div>
  <ng-template #noViewers>
    <div>No one else is viewing this record.</div>
  </ng-template>
  <div>
    <label>Id: </label>{{ supportRequest.id }}
  </div>
  <div>
    <label>Recorded: </label>{{ supportRequest.recorded }}
  </div>
  <div>
    <label>Recorded By: </label>{{ supportRequest.recordedBy }}
  </div>
  <div>
    <label>Current Status: </label>{{ supportRequest.currentStateString}}
  </div>
  <div>
    <label>Title: </label>
    <input [disabled]="supportRequest.title.locked" [(ngModel)]="supportRequest.title.value" placeholder="name" />
    <span *ngIf="supportRequest.title.locked">{{supportRequest.title.lockedBy}}</span>
  </div>
  <div>
    <label>Description: </label>
    <textarea [disabled]="supportRequest.description.locked" [(ngModel)]="supportRequest.description.value" placeholder="description"></textarea>
    <span *ngIf="supportRequest.description.locked">{{supportRequest.title.lockedBy}}</span>
  </div>
  <div>
    <label>Assigned To: </label>
    <input [disabled]="supportRequest.assignedTo.locked" [(ngModel)]="supportRequest.assignedTo.value" placeholder="assignee"
    />
    <span *ngIf="supportRequest.assignedTo.locked">{{supportRequest.title.lockedBy}}</span>
  </div>
  <div>
    <label>Resolved On: </label>{{supportRequest.resolvedOn}}
  </div>
  <div>
    <label>Resolved By: </label>{{supportRequest.resolvedBy}}
  </div>
  <div>
    <div *ngFor="let item of supportRequest.changeHistory.items">
      {{item.changedTo}} by {{item.changedBy}} on {{item.changeTime}}
    </div>
  </div>
</div>
