<mat-card *ngIf="supportRequest">
  <mat-card-header>
    <div mat-card-avatar>
      <button (click)="unlock()" *ngIf="supportRequest.locked && myLock" class="material-icons mat-36" mat-icon-button><mat-icon>edit</mat-icon></button>
      <button *ngIf="supportRequest.locked && !myLock" class="material-icons mat-36" disabled mat-icon-button><mat-icon>lock_outline</mat-icon></button>
      <button (click)="lock()" *ngIf="!supportRequest.locked" class="material-icons mat-36" mat-icon-button><mat-icon>lock_open</mat-icon></button>
    </div>
    <mat-card-title>{{ supportRequest.title.value }}</mat-card-title>
    <mat-card-subtitle>
      {{ supportRequest.currentStateString}}
    </mat-card-subtitle>
    <mat-card-subtitle *ngIf="supportRequest.locked; else showUnlocked">
      <span *ngIf="myLock; then showYourLock; else showLockUser"></span>
      <ng-template #showLockUser><b>locked</b> by {{ supportRequest.lockedBy }}</ng-template>
      <ng-template #showYourLock><b>You have this locked</b></ng-template>
    </mat-card-subtitle>
    <ng-template #showUnlocked>
      <mat-card-subtitle>Unlocked</mat-card-subtitle>
    </ng-template>
  </mat-card-header>

  <mat-card-content>
    <p>Recorded on {{ supportRequest.recorded }} by {{ supportRequest.recordedBy }}</p>

    <div *ngIf="supportRequest.viewers.size > 0; else noViewers">
      <label>Viewers:</label>
      <ul>
        <li *ngFor="let viewer of supportRequest.viewers">{{ viewer }}</li>
      </ul>
    </div>
    <ng-template #noViewers>
      <div>No one else is viewing this record.</div>
    </ng-template>

    <mat-form-field>
      <input matInput [disabled]="supportRequest.title.locked" [(ngModel)]="supportRequest.title.value" placeholder="title" />
      <mat-hint *ngIf="supportRequest.title.locked">{{supportRequest.title.lockedBy}}</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput [disabled]="supportRequest.description.locked" [(ngModel)]="supportRequest.description.value" placeholder="description"
      />
      <mat-hint *ngIf="supportRequest.description.locked">{{supportRequest.description.lockedBy}}</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput [disabled]="supportRequest.assignedTo.locked" [(ngModel)]="supportRequest.assignedTo.value" placeholder="assignee"
      />
      <mat-hint *ngIf="supportRequest.assignedTo.locked">{{supportRequest.assignedTo.lockedBy}}</mat-hint>
    </mat-form-field>

  </mat-card-content>

  <mat-card-footer>
    <div *ngIf="supportRequest.isResolved">
      <div>
        Resolved on {{supportRequest.resolvedOn}} by {{supportRequest.resolvedBy}}
      </div>
    </div>
  </mat-card-footer>

</mat-card>
