<div *ngIf="supportRequest">
  <h3>"{{ supportRequest.title.value }}"</h3>
  <div>
    <label>Id: </label>{{ supportRequest.id }}
  </div>
  <div>
    <label>Recorded: </label>{{ supportRequest.recorded }}
  </div>
  <div>
    <label>Recorded By: </label>{{ supportRequest.recordedBy }}
  </div>
  <div>
    <label>Current Status: </label>{{ supportRequest.currentStateString}}
  </div>
  <div>
    <label>Title: </label>
    <input [(ngModel)]="supportRequest.title.value" placeholder="name" />
  </div>
  <div>
    <label>Description: </label>
    <textarea [(ngModel)]="supportRequest.description.value" placeholder="description"></textarea>
  </div>
  <div>
    <label>Assigned To: </label>
    <input [(ngModel)]="supportRequest.assignedTo.value" placeholder="assignee" />
  </div>
  <div>
    <label>Resolved On: </label>{{supportRequest.resolvedOn}}
  </div>
  <div>
    <label>Resolved By: </label>{{supportRequest.resolvedBy}}
  </div>
  <div>
    <div *ngFor="let item of supportRequest.changeHistory.items">
      {{item.changedTo}} by {{item.changedBy}} on {{item.changeTime}}
    </div>
  </div>
  <p>
    <button [disabled]="!canSave" (click)="save()">Save</button>
    <button [disabled]="!isDirty" (click)="cancel()">Cancel</button>
  </p>
</div>
